/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=San+Francisco&display=swap');
*{
  font-family: 'San Francisco', Helvetica, Arial, sans-serif;
  color: black;
}

a{
  background-color: none;
  color: black;
}

#navbar{
  background-color: #254A96;
}

#navbar a{
  color: #F6FCFF;
}