/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=San+Francisco&display=swap');
*{
  font-family: 'San Francisco', Helvetica, Arial, sans-serif;
  background-color: rgb(245, 245, 245);
}

#table{
  background-color: red;
}