/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=San+Francisco&display=swap');
*{
  font-family: 'San Francisco', Helvetica, Arial, sans-serif;
}

#table thead td{
  background-color: red;
}

a{
  background-color: none;
  color: black;
}
